SCHEMATIC START ;
// created by map version G.23 on Fri Dec 03 10:35:49 2004 
COMP "LED_e" LOCATE =  SITE "P151" LEVEL 1; 
COMP "clk" LOCATE =  SITE "P77" LEVEL 1; 
COMP "LED_f" LOCATE =  SITE "P148" LEVEL 1; 
COMP "LED_g" LOCATE =  SITE "P147" LEVEL 1; 
COMP "LED_a" LOCATE =  SITE "P149" LEVEL 1; 
COMP "LED_a1" LOCATE =  SITE "P98" LEVEL 1; 
COMP "LED_b" LOCATE =  SITE "P150" LEVEL 1; 
COMP "LED_b1" LOCATE =  SITE "P97" LEVEL 1; 
COMP "LED_c1" LOCATE =  SITE "P95" LEVEL 1; 
COMP "LED_d1" LOCATE =  SITE "P94" LEVEL 1; 
COMP "LED_e1" LOCATE =  SITE "P90" LEVEL 1; 
COMP "LED_f1" LOCATE =  SITE "P88" LEVEL 1; 
COMP "LED_g1" LOCATE =  SITE "P89" LEVEL 1; 
COMP "LED_c" LOCATE =  SITE "P153" LEVEL 1; 
COMP "rst_n" LOCATE =  SITE "P36" LEVEL 1; 
COMP "LED_dot1" LOCATE =  SITE "P96" LEVEL 1; 
COMP "LED_dot" LOCATE =  SITE "P154" LEVEL 1; 
COMP "LED_d" LOCATE =  SITE "P152" LEVEL 1; 
SCHEMATIC END ;
