NET "clk" LOC = "p77";
NET "rst_n" LOC = "p36";
NET "LED_a" LOC = "p149";
NET "LED_b" LOC = "p150";
NET "LED_c" LOC = "p153";
NET "LED_d" LOC = "p152";
NET "LED_e" LOC = "p151";
NET "LED_f" LOC = "p148";
NET "LED_g" LOC = "p147";
NET "LED_dot" LOC = "p154";
NET "LED_a1" LOC = "p98";
NET "LED_b1" LOC = "p97";
NET "LED_c1" LOC = "p95";
NET "LED_dot1" LOC = "p96";
NET "LED_d1" LOC = "p94";
NET "LED_e1" LOC = "p90";
NET "LED_f1" LOC = "p88";
NET "LED_g1" LOC = "p89";
