SCHEMATIC START ;
// created by map version G.23 on Wed Dec 08 14:41:22 2004 
COMP "clk_1200Hz" LOCATE =  SITE "P6" LEVEL 1; 
COMP "ser_data_frm_pc" LOCATE =  SITE "P71" LEVEL 1; 
COMP "clk_16MHz" LOCATE =  SITE "P77" LEVEL 1; 
COMP "clk_19200Hz" LOCATE =  SITE "P191" LEVEL 1; 
COMP "rst_n" LOCATE =  SITE "P110" LEVEL 1; 
COMP "ser_data_to_pc" LOCATE =  SITE "P69" LEVEL 1; 
SCHEMATIC END ;
