BODY {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
TD {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
P {
	FONT-FAMILY: Arial, Helvetica, sans-serif
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 200%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 160%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 140%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 120%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
H5 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; FONT-FAMILY: verdana, arial, helvetica, sans-serif; TEXT-DECORATION: none
}
